[alias]
  st   = status
  ci   = commit
  br   = branch -vv
  co   = checkout
  sw   = checkout
  d    = diff --no-prefix
  ds   = diff --no-prefix --staged
  dx   = diff --no-prefix --word-diff-regex=.
  di   = diff --no-prefix --word-diff=color
  lx   = log -p -b --word-diff-regex=.
  lp   = log -p -b --word-diff=color
  pr   = pull --rebase
  h    = help
  lg   = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --graph
  lr   = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --reverse origin/master..
  f    = fetch -p
  bl   = blame -w
  rbi  = rebase -i
  rbio = rebase -i origin/master

[branch]
    autosetuprebase = always
    autosetupmerge = true
[color]
    ui = true

[core]
    editor = vim

[diff]
    noprefix = true
