[alias]
  st   = status
  ci   = commit
  br   = branch -vv
  co   = checkout
  sw   = checkout
  sh   = show -c
  d    = diff --no-prefix
  ds   = diff --no-prefix --staged
  dx   = diff --no-prefix --word-diff-regex=.
  di   = diff --no-prefix --word-diff=color
  lx   = log -p -b --word-diff-regex=.
  lp   = log -p -b --word-diff=color
  pr   = pull --rebase
  h    = help
  lg   = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --graph --full-history --simplify-merges
  lgn  = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --graph --full-history --simplify-merges --name-only
  lgp  = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --graph --full-history --simplify-merges -p -c
  lr   = log --pretty=format:'%C(bold green)%h%Creset [%C(bold yellow)%an%Creset] %s %C(bold black)(%ar)%C(bold cyan)%d%Creset' --reverse @{upstream}..
  f    = fetch -p
  bl   = blame -w
  rbi  = rebase -i
  rbio = rebase -i origin/master
  rba  = rebase --abort
  rbc  = rebase --continue
  pop  = stash pop
  mf   = merge --ff-only
  cp   = cherry-pick
  top  = show-branch --topics HEAD

[branch]
    autosetuprebase = always
    autosetupmerge = true
[color]
    ui = true

[core]
    editor = vim
  precomposeunicode = false
  quotepath = false

[diff]
    noprefix = true

[push]
  default = simple
